<%- include("partials/header.ejs") -%>

<h1>Home</h1>

<% for(let i = posts?.length-1; i>=0; i--) { %>
    <div class="card-group">
    <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <%= posts[i]?.title %> </h5>
          <p>
            <%=posts[i]?.content?.substring(0, 100) + " ..."%>
            <a href="/posts/<%=posts[i]?._id%>">Read More</a>
            </p>
        </div>
        <div class="card-footer">
          <% if(posts[i]?.isPublic) {%>
            Public
            <% } else { %>
              Private 
              <% } %>
            <small class="text-body-secondary"> Blog by: <%= posts[i]?.userId?.name %> </small>
          </div>
    </div>
    </div>
    <br>

<% } %>

<%- include("partials/footer.ejs") -%>