<%- include("partials/header.ejs") -%>

<h1>Search and Delete</h1>
<br>
<form action="/search" method="post">
    <div class="mb-3">
        <label class="form-label">Search Title</label>
        <input type="text" name="searchTitle" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit"> Search </button>
</form>
<br>
<% if(posts) { %>
    <h3> <%= message %> </h3>
    <form action="/deleteConfirm" method="post">
    <% for(var i=0; i<posts.length; i++){ %>
    <h1> <%= posts[i].title %> </h1>
    <p><%= posts[i].content %></p>
    <button class="btn btn-primary" type="submit" name="deleteId" value="<%= posts[i]._id %>"> Delete </button>
    <% } %>
</form>
<% } %>

<%- include("partials/footer.ejs") -%>